@font-face {
    font-family: "Montserrat";
    src: url(fons/Montserrat-Light.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url(fons/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(fons/Montserrat-ExtraBold.ttf) format("truetype");
    font-weight: 900;
}

