div{
    background-color: rgb(255, 111, 0);
    width: 400px;
    height: 100;
}
h1{
    text-align: center; 
}
form{
    width: 80%;
}
input{
    text-align:center;
    width: 60%;

}
img{
    image-rendering: optimizeQuality;
    width: 33%;
}